server:
  port: 8443
  ssl:
    key-store-type: PKCS12
    key-store: classpath:keys/auth_server.p12
    key-store-password: JrKGTdmYgM8dLHLfB
    key-alias: test.dev
    protocol: TLS
    enabled-protocols: TLSv1.2

logging:
  level:
    org.springframework.security: trace
    com.example.auth: trace

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    driverClassName: org.postgresql.Driver
    username: admin
    password: admin

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: create
    show-sql: false

  data:
    redis:
      host: localhost
      port: 6379
