
# custom properties
pokermind:
  send-verification-mail: true
  default-login-redirect-url:
    "http://localhost:8080/index"

server:
  port: 8081

logging:
  level:
    org.springframework.security: trace

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    driverClassName: org.postgresql.Driver
    username: admin
    password: admin

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: create
    show-sql: false
