<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Reset Password</title>

    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1 class="title_bar">Epic custom password reset form</h1>

<div class="content">
    <form th:action="@{/recover/reset}" method="post">
        <label for="newPassword">Please enter your new password:</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="Password"/>
        <input type="hidden" name="token" th:value="${token}">
        <input type="submit" value="Set new password" />
        <br>
    </form>
</div>
</body>
</html>